@import "tailwindcss";

.slider-thin {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    background: transparent;
}

.slider-thin::-webkit-slider-runnable-track {
    height: 2px;
    background: #d4d4d8;
    border-radius: 9999px;
}

.slider-thin::-moz-range-track {
    height: 2px;
    background: #d4d4d8;
    border-radius: 9999px;
}

.slider-thin::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    margin-top: -5px;
    border-radius: 50%;
    background: #a1a1aa;
    cursor: pointer;
}

.slider-thin::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #a1a1aa;
    border: none;
    cursor: pointer;
}